<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
      layout:decorate="~{layout.html}"
>

<section layout:fragment="content">
    <div th:if="${#lists.isEmpty(publishers)}" class="alert alert-primary">
        <span> Não há editoras cadastradas</span>
    </div>

    <div th:if="${message != null}" class="alert alert-primary">
        <span th:text="${message}"></span>
    </div>

    <table th:if="${not #lists.isEmpty(publishers)}" class="table table-striped">
        <h2>Editora(s)</h2>
        <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Opção</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="publisher : ${publishers}">
            <td th:text="${publisher.id}"></td>
            <td th:text="${publisher.name}" width="65%"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/editora/editar(id=${publisher.id})}"> Editar</a>
                <a class="btn btn-danger" th:href="@{/editora/excluir(id=${publisher.id})}"> Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>