<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
       layout:decorate="~{layout.html}">

<section layout:fragment="content">
    <div th:if="${message != null}" th:text="${message}" th:class="${hasErrors != null && hasErrors == false } ? 'alert alert-primary' : 'alert alert-danger'">
    </div>
    <form
            th:action="@{/manga/adicionar}"
            th:object="${manga}"
            method="POST"
            enctype="multipart/form-data"
    >
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{cover}" />

        <div class="form-group mb-3">
            <label for="title"> Titulo:</label>
            <input th:field="*{title}" id="title" class="form-control" type="text" required />
            <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>

        <div class="form-group mb-3">
            <label for="title"> Capítulos:</label>
            <input th:field="*{chapters}" id="chapters" class="form-control" type="number" min="0" step="1" required />
            <span class="text-danger" th:if="${#fields.hasErrors('chapters')}" th:errors="*{chapters}"></span>
        </div>

        <div class="form-group mb-3">
            <label> Editora</label>
            <select class="form-select" th:field="*{publishingCompany}">
                <option th:each="publisher : ${publishers}"  th:value="${publisher.id}" th:text="${publisher}" />
            </select>
        </div>

        <div class="form-group mb-3">
            <label> Status</label>
            <select class="form-select" th:field="*{status}">
                <option th:each="st : ${status}"  th:value="${st.id}" th:text="${st}" />
            </select>
        </div>

        <div class="form-group mb-3">
            <label> Autor(s)</label>
            <div th:each="author: ${authors}">
                <i th:text="${author}"></i>
                <input  type="checkbox" th:value="${author.id}" th:field="*{authors}" />
            </div>
        </div>

        <div class="form-group mb-3">
            <label> Demografia</label>
            <select class="form-select" th:field="*{demography}">
                <option th:each="demography : ${demographics}"  th:value="${demography.id}" th:text="${demography}" />
            </select>
        </div>

        <div class="form-group">
            <label> Gênero(s)</label>
            <div class="row">
                <div th:each="genre: ${genres}" class="form-check form-switch col">
                    <input class="form-check-input" th:value="${genre.id}" th:field="*{genres}" type="checkbox" id="flexSwitchCheckChecked" />
                    <label th:text="${genre}" class="form-check-label" for="flexSwitchCheckChecked"/>
                </div>
            </div>
            <!--
            <span class="btn btn-secondary btn-sm m-1" th:each="genre: ${genres}">
                <i th:text="${genre}" />
                <input type="checkbox" th:value="${genre.id}" th:field="*{genres}" />
            </span>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="genre: ${genres}">
                        <dt><i th:text="${genre}"></i></dt>
                        <dt><input type="checkbox" th:value="${genre.id}" th:field="*{genres}" /></dt>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Seleção</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="genre: ${genres}">
                        <th scope="row">#</th>
                        <td><i th:text="${genre}" /></td>
                        <td><input type="checkbox" th:value="${genre.id}" th:field="*{genres}" /></td>
                    </tr>
                </tbody>
            </table>
            -->
        </div>

        <div class="form-group mb-3">
            <label for="synopsis"> Synopsis</label>
            <textarea th:field="*{synopsis}" id="synopsis" class="form-control" type="text" required >

            </textarea>
            <span class="text-danger" th:if="${#fields.hasErrors('synopsis')}" th:errors="*{synopsis}"></span>
        </div>

        <div class="form-group mb-3">
            <label>Capa </label>
            <input type="file" name="image" accept="image/png, image/jpeg" />
        </div>

        <button class="btn btn-primary" type="submit" th:text="${manga.id == null} ? 'Adicionar' : 'Atualizar'">
        </button>

    </form>
</section>
</html>