<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
      layout:decorate="~{layout.html}"
>

<section layout:fragment="content">
    <div th:if="${#lists.isEmpty(genres)}" class="alert alert-primary">
        <span> Não há gêneros cadastradas</span>
    </div>

    <div th:if="${message != null}" class="alert alert-primary">
        <span th:text="${message}"></span>
    </div>

    <table th:if="${not #lists.isEmpty(genres)}" class="table table-striped">
        <h2>Gênero(s)</h2>
        <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Opção</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${genres}">
            <td th:text="${genre.id}"></td>
            <td th:text="${genre.name}" width="65%"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/genero/editar(id=${genre.id})}"> Editar</a>
                <a class="btn btn-danger" th:href="@{/genero/excluir(id=${genre.id})}"> Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>